
<table border ="1">
<thead>
<th>title</th>
<th>price</th>
<th>description</th>
<th>quantity</th>
</thead>
<tbody>

{% for item in data %}

<tr>
<td>{{item.title}}</td> 
<td>{{item.price}}</td>
<td>{{item.description}}</td>
<td>{{item.quantity}}</td>
<td> 
<a href="/product/delete/{{item._id}}">Delete
&nbsp
<a href="/product/update/{{item._id}}">Update
&nbsp
<a href="/product/detail/{{item._id}}">detail
</td> 

</tr>

{% endfor %}

</tbody>
</table>

<a href="product/showform">ajouter produit</a>

